*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
/* página em si */
#menu {
    height: 100%;
    width: 100%;
}
.meio {
    width: 100%;
}
#div1{
    height: 65%;
}
#div2{
    height: 35%;
}
/* definições de cada bloco */
.opcao_form{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.opcao_login {
    background: black;
    color: white;
}
.opcao_form{
    background: white;
    color: black;
}

/* Estilização do link */
.opcao_login a{
    color: white;
    text-decoration: none;
}
.opcao_login a:hover {
    color: chartreuse;
    cursor: pointer;
}
.div-form a{
    cursor: pointer;
    color: rgb(0, 183, 255);
    text-decoration: none;
}
.div-form a:hover{
    color: rgb(0, 47, 255);
}


/* estilização da logo */
#logo {
    width: 85%;
}
.row-logo {
    height: 80%;
    padding: 5%;
}

/*posições dos blocos  */
.top{
    position: fixed;
    top: 0;
}
.bot{
    position: fixed;
    bottom:0;
}
#opcao_1{
    letter-spacing: 0.2em;
    font-size: large;
}
.div-form{
    width: 100%;
}