
body,html{
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background: rgb(138, 78, 173);
}

.menu,
.menu-interno {
    height: 100%;
    width: 100%;
    
}
.menu-interno{
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
}
.inscricao{
    font-size: 0.8em;
}
label{
    letter-spacing: 0.5em;
}
label.cliente:hover{
    color: blueviolet;
}
label.fornecedor:hover{
    color: rgb(91, 175, 6);
}

button{
    width: 100%;
}

.erroLogin{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: #FFF;
    height: 25px;
}
.cadastro-success{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(30, 206, 30);
    height: 25px;
}
.cadastro-fail{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(206, 30, 30);
    height: 25px;
}
a:hover{
    cursor: pointer;
}