*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: url('../../bg.png') repeat-y top right;
}
.navigation{
    background: #000;
    border-bottom: 2px solid rgb(105, 105, 105);
    transition: color 0.5s;
}
.navbar-nav .nav-item a.nav-link:hover{
    transition: color 0.5s;
    color: chartreuse;
}

.box-perfil{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    min-height: 150px;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 10px;
    padding: 5px;
    transition: border 0.5s;
}
.box-perfil:hover{
    transition: all 0.5s;
    border: 2px solid rgb(253, 149, 31);
}

.perfil-empresa{
    letter-spacing: 0.1em;
    padding: 5px;
}
.perfil-contador{
    /* color: aqua; */
    font-size: large;
}

/* Box cotações */
.box-cotacoes{
    width: 100%;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 10px;
    padding: 5px;
    color: #FFF;
    transition: border 0.5s;
}
.box-cotacoes:hover{
    transition: all 0.5s;
    border: 2px solid rgb(4, 211, 97);
}
.table-dark{
    background: #000;
}
.box{
    font-size: 0.8em;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 10px;
}
.box:hover{
    transition: all 1s;
    border: 1px solid rgb(0, 0, 0);
}
span.span-link:hover{
    cursor: pointer;
    color: chartreuse !important;
}

tbody tr:hover{
    color: rgb(4, 211, 97);
    cursor: pointer;
}
tbody tr td:hover{
    color: rgb(2, 121, 55);
}